#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    font-size: 30px;
}

#loader .spinner {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 10px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    animation: spin 1s ease-in-out infinite;
    margin-bottom: 30px;
}

.filter-toggle {
    height: 44px;
    width: 44px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

.filter-toggle:hover {
    background: #eee;
}

.filter-toggle:active {
    opacity: 0.5;
}

.filter-toggle img {
    height: 28px;
    width: 28px;
}

.filter-container {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    background: white;
    border-radius: 5px;
}

.filter-select {
    margin-top: 5px;
    margin-bottom: 10px;
}

.filter-select:last-child {
    margin-bottom: 0;    
}

.mission-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thumbnail-wrapper {
    position: relative;
}

.mission-preview img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}

.mission-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mission-info .row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 0;
}

.mission-info .row b {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

.mission-info .row span {
    font-family: monospace;
    font-size: 14px;
    word-break: break-all;
}

.mission-preview span {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mission-preview .spinner {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 50px;
    border: 7px solid #c53f00;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    animation: spin 1s ease-in-out infinite;
}

.download {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.download-title {
    font-size: 12px;
    margin: 5px 0;
}

.download-button {
    padding: 7px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background: #c53f00;
    color: white !important;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.leaflet-marker-icon[alt='no-preview'] {
    filter: hue-rotate(160deg);
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}